<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='/static/js/jquery.min.js'></script>
    <link rel="shortcut icon" href="/static/img/title.png">
    <link rel="stylesheet" href="/static/css/layout.css">
    <title>{%block title%}{% endblock %}</title>
</head>
<body topmargin='0' leftmargin='0'>
    <nav>
        <li><a href="/">首頁</a></li>
        {% if 'username' in session %}
            <li><a href="/post/new">發起活動</a></li>
            <li><a href="/member/history">歷史紀錄</a></li>
            <li><a href="/member/illegal">違規紀錄</a></li>
            <li class="right">
                {{ session['username'] }}
                <a href="/member/logout">登出</a>
            </li>
        {% else %}
            <li class="right">
                <a href="/member/">登入</a>
            </li>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script>
    url = location.href;
    $("nav li a").each(function(){
        if ($(this)[0].href == url) {
            $(this).parent().addClass("actived");
        }
    })
</script>
</html>